{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [rebar3_hex, covertool]}.
{profiles,
    [{test, [
        {deps, []}
    ]}
]}.

{alias, [{quick_test, [{proper, "--cover --numtests=3"},
                       {eunit, "--cover"},
                       {cover, "-v"}]},
         {test, [{proper, "--cover"}, {eunit, "--cover"}, {cover, "-v"}]},
         {check, [{proper, "--cover --numtests=3"},
                  {eunit, "--cover"},
                  xref, dialyzer, cover]}]}.
