{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [rebar3_hex, covertool]}.
{profiles, [{test, [{deps, []}]}]}.

{xref_ignores, [verl, {verl_parser, parse_version, 2}]}.

{alias, [{quick_test, [{proper, "--cover --numtests=3"},
                       {eunit, "--cover"},
                       {cover, "-v"}]},
         {test, [{proper, "--cover"}, {eunit, "--cover"}, {cover, "-v"}]},
         {check, [{proper, "--cover --numtests=3"},
                  {eunit, "--cover"},
                  xref, dialyzer, cover]}]}.
